* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
}

.slider .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.slider .imgBx .wrapp {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slider .imgBx .wrapp p {
    opacity: 0;
}


.slider .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    z-index: 1;
    clip-path: circle(0px at center);
}

.slider input[type="radio"]:checked+.imgBx img {
    z-index: 100;
    clip-path: circle(1000px at center);
    transition-delay: 1s;
}

.slider input[type="radio"]:checked+.imgBx .wrapp p {
    transition: 3s all;
    opacity: 1;
}

.slider label {
    background-color: green;
    cursor: pointer;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 5px;
    cursor: pointer;
    outline: none;
}